@import url("../../common/web/reset.css");
@import url("../../common/web/app.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {font-family: 'Noto Sans KR',sans-serif;outline: none;box-sizing: border-box;color: #000000;letter-spacing: -0.04em;}

body > div{overflow: hidden;}
.inner{width: 1200px; margin: 0 auto; text-align: center;position: relative;}

ul:after{content: "";display: block;clear: both;}

.sect_ban{position: fixed;top: 180px;right: 20px;z-index: 999;}
.sect_ban ul li{width: 168px;height: auto;background: #FCFBFC;border: 4px solid #1E1534;margin-bottom: 6px;position: relative;}
.sect_ban ul li:last-child{margin-bottom: 0;}
.sect_ban ul .cont_aca p{margin: 20px 20px;font-size: 16px;line-height: 1.5em;}
.sect_ban ul .cont_aca p strong{display: block;}
.sect_ban ul .cont_more p{margin: 16px 20px;font-size: 14px;line-height: 1.5em;}
.sect_ban ul .cont_more p:not(:first-of-type){padding-top: 16px;margin-top: 0; border-top: 1px solid #E8E9ED;}
.sect_ban ul .cont_more p > *{display: block;}
.sect_ban ul .cont_more p > strong{font-size: 16px;margin-top: 6px;}
.sect_ban ul .cont_more p > a{color: #757575;margin-top: 30px;cursor: pointer;}
.sect_ban ul li .btn_link{height: 54px;background: #1E1534;color: #FFFFFF;padding: 0 22px 0 20px;display: flex;align-items: center;flex-wrap: nowrap;justify-content: space-between;}
.sect_ban ul li .btn_link i{color: #FFFFFF;}

.sect01{background: #019C6F;padding: 60px 0 35px;}
.sect01 .inner{width: 1300px;}

.sect02{background: #019C6F;padding: 40px 0 80px;}
.sect02 .cont_cls{margin-bottom: 58px;}
.sect02 .cont_cls:last-child{margin-bottom: 0;}
.sect02 .cont_cls .txt_tit{font-size: 30px;margin-bottom: 22px;}
.sect02 .cont_cls ul li{height: 98px;background: #FFFFFF;display: flex;align-items: center;border-bottom: 1px dashed #DCDCDC;}
.sect02 .cont_cls ul li:last-child{border-bottom: 0;}
.sect02 .cont_cls ul li .txt_campus{width: 147px;margin-left: 36px;font-size: 20px;}
.sect02 .cont_cls ul li span{background: #FFE500;padding: 12px 24px;margin-right: 8px;border-radius: 32px;font-size: 16px;}
.sect02 .cont_cls ul li span:last-child{margin-right: 0;}

.sect03{padding: 80px 0 116px;}
.sect03 .inner{width: 1000px;}
.sect03 h4{font-size: 24px;margin: 20px 0 59px;}
.sect03 .cont_rsv{display: flex;align-items: center;justify-content: center;}
.sect03 .cont_rsv > div{position: relative;margin-right: 8px;}
.sect03 .cont_rsv .cont_sel::before{content: "";position: absolute;top: 40%;right: 16px;border-left: 6px solid transparent;border-right: 6px solid transparent;border-top: 9px solid #222222;}
.sect03 .cont_rsv .cont_num > *{width: 96px;}
.sect03 .cont_rsv > div > *{width: 254px;height: 50px;border: 1px solid #000000;appearance: none;padding-left: 24px;font-size: 14px;}
.sect03 .cont_rsv > div > input{width: 94px !important;height: 48px;padding: 0 23px;}
.sect03 .cont_rsv .btn_rsv{background: #000000;color: #FFFFFF;font-size: 16px;padding: 16px 19px;}
.sect03 .cont_agree{margin-top: 18px;}
.sect03 .cont_agree ul li{position: relative;float: left;padding: 0 14px;color: #6B6B6B;font-size: 14px;}
.sect03 .cont_agree ul li:last-child{padding-right: 0;cursor: pointer;}
.sect03 .cont_agree ul li:not(:first-child):before{position: absolute;top: 2px;left: 0;content: '';display: block;width: 1px;height: 14px;background: #6B6B6B;}
.sect03 .cont_agree ul li:first-child:after{display: none;}
.sect03 .cont_agree ul li input[type="checkbox"]{width: 14px;height: 14px;vertical-align: middle;}
.sect03 .cont_agree ul li label{color: #6B6B6B;cursor: pointer;}
.sect03 .cont_agree li i{color: inherit;}

.sect04{background: #1E1534;padding: 100px 0;}
.sect04 ul li{margin-bottom: 30px}
.sect04 ul li.cont_group{position: relative;}
.sect04 ul li.cont_group .img_group{position: absolute;top: -40px;left: 70px;}
.sect04 ul li:last-child{margin-bottom: 0;}

.sect05{padding: 100px 0 80px;}
.sect05 ul{margin: 50px 0;}
.sect05 ul li{width: 586px;height: 387px;border: 1px solid #CFCFCF;border-radius: 10px;position: relative;float: left;margin: 0 20px 20px 0;}
.sect05 ul li:nth-child(even){margin-right: 0;}
.sect05 ul li:nth-child(n+3){margin-bottom: 0;}
.sect05 ul li > div{position: absolute;top: 40px;left: 40px;}
.sect05 ul li img{float: left;}
.sect05 ul li .txt_note{font-size: 18px;line-height: 1.6em;color: #000000;float: left;text-align: left;display: inline-block;margin: 40px 0 30px;}
.sect05 ul li:last-child .txt_note{margin-bottom: 59px;}
.sect05 ul li .txt_user{font-size: 18px;line-height: 1.6em;color: #6A6A6A;float: left;text-align: left;display: inline-block;}
.sect05 .btn_review{width: 400px;height: 60px;background: #019C6F;color: #FFFFFF;font-weight: 900;font-size: 20px;line-height: 1.4em;border-radius: 100px;padding: 26px 131px;}

.sect06{padding: 100px 0;}
.sect06 .inner{width: 950px;}
.sect06 .cont_rec{margin-top: 50px;}
.sect06 .cont_rec ul li{width: 234px;margin-right: 4px;border: 1px solid #494949;}
.sect06 .cont_rec ul li:last-child{margin-right: 0;}
.sect06 ul li .cont_info{padding: 32px 15px;width: -webkit-fill-available;}
.sect06 ul li .cont_info .txt_note{top: 5px;right: 5px;color: #FFFFFF;font-size: 11px;line-height: 1.3em;}
.sect06 ul li .cont_info .cont_tri{top: 0;right: 0;border-top: 75px solid #000000;border-left: 75px solid transparent;}
.sect06 ul li .cont_info .txt_campus{font-size: 22px;font-weight: bold;}
.sect06 ul li .cont_info .txt_campus span{font-size: 14px;}
.sect06 ul li .txt_info{margin: 10px 0;font-size: 12px;line-height: 1.5em;}
.sect06 ul li .txt_date{line-height: 1.5em;margin-bottom: 10px;}
.sect06 ul li .cont_btn .btn_aca{margin-bottom: 5px;display: flex;justify-content: center;align-items: center;width: 100%;height: 50px;background-color: #00A763;color: #FFFFFF;font-size: 15px;}
.sect06 ul li .cont_btn .btn_aca:last-child{margin-bottom: 0;}
.sect06 ul li .cont_btn .btn_aca i{color: #FFFFFF;margin-left: 5px;font-size: 12px;}
