@import url("../../common/web/reset.css");
@import url("../../common/web/app.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{font-family: 'Noto Sans KR',sans-serif;outline: none;box-sizing: border-box;color: #000000;letter-spacing: -0.04em;}

body > div{overflow: hidden;}
.inner{width: 1200px; margin: 0 auto; text-align: center;position: relative;}

ul:after{content: "";display: block;clear: both;}

.sect01{padding: 95px 0 114px;background: url(./img/sect01_bg.png) no-repeat center 0, linear-gradient(180deg, #FFBC3B 0%, #FFBC3B 0%, #EC9C00 35.73%, #F83101 99.99%, #F82F00 100%, #FF5D18 100%);}
.sect01 h3{font-size: 120px;color: #FFFFFF;line-height: 1.1em;}
.sect01 h3 small{font-weight: 350;font-size: 88px;}
.sect01 .cont_open{margin: 56px 0;width: 460px;height: 93px;background: #000000;border-radius: 8px;font-size: 32px;}
.sect01 .cont_summ li{width: 488px;height: 120px;margin-left: 24px;border-radius: 8px;font-size: 24px;background-image: linear-gradient(#A53B00, #A53B00), linear-gradient(to right, #FF3200, #FFBC3B);background-origin: border-box;background-clip: content-box, border-box;border: 2px solid transparent;}
.sect01 .cont_summ li:first-child{margin-left: 0;}

.sect02{padding: 120px 0;background: #111111;}
.sect02 h4{font-size: 44px;margin-bottom: 44px;}
.sect02 .cont_reform{margin-bottom: 120px;}
.sect02 .cont_reform li{width: 725px;border-radius: 0 8px 8px 0;float: left;filter: drop-shadow(-40px 32px 32px rgba(0, 0, 0, 0.32));border-right: 1px solid #392807;}
.sect02 .cont_reform li:first-child{width: 475px;border-radius: 8px 0 0 8px;}

.sect02 .cont_recruit{margin-bottom: 120px;}
.sect02 .cont_recruit h4{line-height: 1.3em;font-size: 44px;}
.sect02 .cont_recruit h4 span{font-size: 24px;}
.sect02 .cont_recruit > div{border-radius: 8px;}

.tbl_prev{width: 100%;border-collapse: collapse;opacity: .7;}
.tbl_prev thead td{background: #333333;border-bottom: 1px solid #666666;font-size: 16px;padding: 18px 0;}
.tbl_prev thead p{opacity: .7;}
.tbl_prev tbody td{color: #EDEDED;background: #444444;border-bottom: 1px solid #666666;font-size: 16px;padding: 18px 0;line-height: 1.5em;}
.tbl_prev tbody tr:nth-last-child(1) > *{border-bottom: 0;}

.tbl_renew{width: 100%;border-collapse: collapse;}
.tbl_renew thead th{background: #392807;border-bottom: 1px solid #452A1D;font-size: 16px;padding: 18px 0;}
.tbl_renew thead td{background: #392807;border-bottom: 1px solid #523425;border-left: 1px solid #452A1D;font-size: 16px;padding: 18px 0;}
.tbl_renew thead p{opacity: .7;}
.tbl_renew tbody th{color: #F1D7CA;background: #392807;border-bottom: 1px solid #452A1D;font-size: 16px;padding: 18px 0;}
.tbl_renew tbody td{color: #EDEDED;background: #FA8801;border-bottom: 1px solid #F1A03F;font-size: 16px;padding: 18px 0;line-height: 1.5em;}
.tbl_renew tbody tr:nth-last-child(1) > *{border-bottom: 0;}
