@import url("../../common/web/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');

*{font-family: 'Noto Sans KR',sans-serif;outline: none;box-sizing: border-box;color: #000000;letter-spacing: -0.04em;}

body > div[class*="evt_"]{overflow: hidden;}
body > div[class*="evt_"] *{line-height: 1.3em;}
.inner{width: 1200px; margin: 0 auto; text-align: center;position: relative;}

* ul{overflow: hidden;}
* ul:after{content: "";display: block;clear: both;}

.sect01{height: 1472px;background: #050505;position: relative;}

.sect01 .sect01_ani{position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
.sect01 .a_01{background: #050505 url(./img/sect01_a01.png) no-repeat center 0;}
.sect01 .a_02{background: url(./img/sect01_a02.png) no-repeat center 0;}
.sect01 .a_03{top: 346px;text-align: center;}
.sect01 .a_04{top: 15px;margin-left: 130px;text-align: center;}
.sect01 .a_05{background: url(./img/sect01_a05.png) repeat-x center 0;}
.sect01 .a_06{background: url(./img/sect01_a06.png) no-repeat center 0}
.sect01 .a_07{top: 175px;left: 20%;color: #FFFFFF;font-weight: 100;font-size: 100px;margin-left: 20px;}
.sect01 .a_08{top: 175px;left: 60%;color: #FFFFFF;font-weight: 900;font-size: 100px;margin-left: 20px;}
.sect01 .a_09{top: 562px;font-size: 27px;text-align: center;color: #FFFFFF;mix-blend-mode: normal;text-shadow: 0 0 12px #000000;letter-spacing: 1.19em;}
.sect01 .a_10{top: 614px;font-weight: 100;font-size: 64px;text-align: center;color: #FFFFFF;mix-blend-mode: normal;text-shadow: 0 0 24px #000000;}
.sect01 .a_10 b{color: #FFFFFF;}
.sect01 .a_11{top: 754px;font-size: 12px;text-align: center;color: #FFFFFF;opacity: .7;mix-blend-mode: normal;text-shadow: 0 0 10px #000000;}

/*.sect01 .sect01_ani{opacity: 0;}*/
/*.sect01 .a_01{animation: main_title 1.5s 1.2s forwards linear;}*/

.sect01 .cont_quote{position: absolute;top: 777px;left: 0;right: 0;bottom: 0;text-align: center;}
.sect01 .cont_quote .bx-wrapper{margin-top: 80px;}

.sect01 .cont_review{position: absolute;top: 1140px;left: 0;right: 0;bottom: 0;}
.sect01 .cont_review ul li{width: 700px !important;}


.sect02{height: 183px;padding: 33px 0;background: #08484C url("./img/sect02_bg.png") no-repeat center 0;}
.sect02 h3{font-family: 'Noto Serif KR';font-size: 30px;color: #FFFFFF;mix-blend-mode: normal;}

.sect03{padding: 30px 0 100px;background: #64B1B6;text-align: center;}
.sect03 .cont_tit{margin-bottom: 30px;}
.sect03 .cont_tit p{background: linear-gradient(179.04deg, rgba(195, 197, 143, 0.3) 0.82%, rgba(228, 229, 166, 0) 99.2%), #FFFFFF;-webkit-background-clip: text;-webkit-text-fill-color: transparent;background-clip: text;text-fill-color: transparent;mix-blend-mode: normal;}
.sect03 .cont_tit p.txt_word{font-family: 'Noto Serif KR';font-weight: 600;font-size: 58px;color: #FFFFFF;mix-blend-mode: normal;opacity: .2;}
.sect03 .cont_tit p.txt_tit{font-weight: 900;font-size: 50px;}
.sect03 .cont_tit p.txt_info{margin-top: 15px;font-weight: 700;font-size: 24px;}
.sect03 h3{font-weight: 700;font-size: 45px;color: #A2D1D3;mix-blend-mode: normal;}
.sect03 h3 span{color: #D2FCFF;text-decoration: underline;}
.sect03 h3 sup{font-size: 30px;color: #D2FCFF;}
.sect03 .cont_point ul li{width: 636px !important;}
.sect03 > span{font-size: 12px;color: #FFFFFF;}

.sect04{padding: 30px 0 100px;}
.sect04 .cont_tit{margin-bottom: 40px;}
.sect04 .cont_tit p{color: #000000;mix-blend-mode: normal;}
.sect04 .cont_tit p.txt_word{font-family: 'Noto Serif KR';font-weight: 600;font-size: 58px;opacity: .2;}
.sect04 .cont_tit p.txt_tit{font-weight: 900;font-size: 50px;}
.sect04 .cont_tit p.txt_info{margin-top: 15px;font-weight: 700;font-size: 24px;}
.sect04 .inner > p{margin-top: 40px;font-size: 45px;font-weight: 700;color: #CCCCCC;}
.sect04 .inner > p span{color: #797979;text-decoration: underline;}

.sect05{padding: 30px 0 100px;background: #B5F8CB;}
.sect05 .cont_tit{margin-bottom: 40px;}
.sect05 .cont_tit p{color: #000000;mix-blend-mode: normal;}
.sect05 .cont_tit p.txt_word{font-family: 'Noto Serif KR';font-weight: 600;font-size: 58px;opacity: .2;}
.sect05 .cont_tit p.txt_tit{font-weight: 900;font-size: 50px;}
.sect05 .cont_tit p.txt_info{margin-top: 15px;font-weight: 700;font-size: 24px;}

.sect05 .cont_review{position: relative;}
.sect05 .cont_review > img{position: absolute;top: -150px;left: -83px;}
.sect05 .cont_review ul li{text-align: left;margin-left: 180px;}
.sect05 .cont_review ul li:nth-child(2){text-align: right;margin-right: 105px;}
.sect05 .cont_review ul li:nth-child(3){margin-left: 200px;}
