@import url("../../common/web/reset.css");
@import url("../../common/web/app.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');

* {font-family: 'Noto Sans KR',sans-serif;outline: none;box-sizing: border-box;color: #000000;letter-spacing: -0.04em;}

body > div{overflow: hidden;}
.inner{width: 1200px; margin: 0 auto; text-align: center;position: relative;}

ul:after{content: "";display: block;clear: both;}

.sect01{height: 800px;padding: 109px 0 93px;background: #0B0C0C url("./img/sect01_bg.png") no-repeat center 0;}
.sect01 .txt_msg{margin: 55px 0 28px;font-family: 'Noto Serif KR',sans-serif;font-size: 16px;line-height: 1.6em;color: #CBCBCB;}
.sect01 .txt_wish{font-size: 30px;line-height: 1.5em;color: #FFFFFF;}
.sect01 .txt_from{margin-top: 46px;font-size: 12px;color: #FFFFFF;display: block;}

.sect02{height: 1463px;padding: 120px 0 151px;background: #000000 url("./img/sect02_bg.png") no-repeat center 0;}
.sect02 h4{font-size: 100px;color: #F0F0F0;mix-blend-mode: normal;opacity: .35;}
.sect02 p{margin: 75px 0 35px;font-size: 40px;color: #FFFFFF;}
.sect02 .inner > div{display: none;}

.sect03{padding: 100px 0 182px;}
.sect03 h4{font-size: 44px;}
.sect03 h4 > *{display: block;font-size: 24px;}
.sect03 h4 span{color: #F06601;margin-bottom: 24px;}
.sect03 h4 span:not(.txt_tit){display: contents;font-size: 44px;}
.sect03 h4 em{line-height: 35px;margin-top: 10px;}
.sect03 .inner .cont_pass > em{font-family: 'Noto Sans',sans-serif;}
.sect03 .inner > div > img{margin-top: 50px;}
.sect03 .cont_with{margin: 110px 0 0;}
.sect03 .cont_with h4{margin-bottom: 60px;}
.sect03 .txt_sub{font-family:'Noto Sans',sans-serif;font-size: 32px;background: linear-gradient(92.7deg, #FE0523 13.3%, #FC0393 52.25%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;background-clip: text;text-fill-color: transparent;}
.sect03 .cont_user{width: 1100px;height: 349px;box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);border-radius: 8px;margin: 30px auto 109px;padding: 70px;}
.sect03 .cont_user:last-child{height: 521px;margin-bottom: 0;}
.sect03 .cont_user ul li{margin-bottom: 60px;flex-wrap: nowrap;align-items: center;}
.sect03 .cont_user ul li:last-child{margin-bottom: 0;}
.sect03 .cont_user ul li > div{margin: 0 35px;font-family: 'Noto Sans',sans-serif;font-size: 24px;}
.sect03 .cont_user ul li > div > p{margin-bottom: 10px;}
.sect03 .cont_user .cont_send{border-top: 1px solid #C3C3C3;bottom: 0;left: 0;width: 100%;border-radius: 0 8px 0 0;padding-left: 67px;align-items: center;justify-content: space-between;}
.sect03 .cont_user .cont_send p{display: contents;height: 76px;font-weight: 500;font-size: 22px;}
.sect03 .cont_user .cont_send .btn_send{width: 134px;height: 76px;background: #545455;border-radius: 0 8px 8px 0;color: #FFFFFF;align-items: center;justify-content: center;font-size: 24px;}

.sect04{padding: 120px 0 160px;background: #FFEFE3;}
.sect04 .cont_qna h4{font-size: 44px;}
.sect04 .cont_qna h4 > *{display: block;font-size: 24px;}
.sect04 .cont_qna h4 span{color: #F06601;margin-bottom: 10px;}
.sect04 .cont_time p{font-family: 'Noto Sans',sans-serif;font-size: 24px;line-height: 1.5em;margin-top: 51px;background: linear-gradient(92.7deg, #FE0523 13.3%, #FC0393 52.25%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;background-clip: text;text-fill-color: transparent;}
.sect04 .cont_time span{font-family: 'Noto Sans',sans-serif;font-size: 24px;color: #000000;}
.sect04 .cont_time img{margin-top: 14px;}
.sect04 .cont_cert{margin-top: 120px;}
.sect04 .cont_cert p{font-family: 'Noto Sans',sans-serif;font-size: 24px;line-height: 1.5em;margin-top: 51px;background: linear-gradient(92.7deg, #FE0523 13.3%, #FC0393 52.25%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;background-clip: text;text-fill-color: transparent;}
.sect04 .cont_cert span{font-family: 'Noto Sans',sans-serif;font-size: 24px;color: #000000;}
.sect04 .cont_cert img{margin-top: 14px;}

.sect05{padding: 86px 0 160px;background: linear-gradient(180deg, #152048 0%, #030537 100%);}
.sect05 .bx-wrapper{position: absolute;top: 0;left: 50%;transform: translateX(-50%);width: 100%;}
.sect05 .bx-wrapper .user_slider > li{color: #30385C;font-size: 16px;overflow: hidden;white-space: nowrap;user-select: none;}
.sect05 .bx-wrapper .user_slider > li > span{width: 150px; text-align: center; display: inline-block;color: #FFFFFF1A;}
.sect05 .inner > h4{font-size: 44px;line-height: 1.5em;color: #FFFFFF;}
.sect05 .inner > h4 strong{font-size: 54px;color: #FFFFFF;}
.sect05 .inner > p{font-size: 24px;color: #FFFFFF;margin-top: 24px;line-height: 1.5em;}

.sect05 .cont_grad{width: 888px;margin: 0 auto;}

.sect05 .cont_grad .cont_print{margin: 60px 0 40px;}
.sect05 .cont_grad .cont_print textarea{top: 242px;left: 226px;width: 465px;height: 62px;text-align: center;font-size: 22px;line-height: 1.35em;color: #404040;resize: none;border: 1px solid #C3C3C3;}
.sect05 .cont_grad .cont_print p{top: 348px;left: 360px;font-size: 28px;letter-spacing: 0.18em;width: 150px;height: 36px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

.sect05 .cont_grad .cont_btn li{margin-right: 20px;}
.sect05 .cont_grad .cont_btn li:last-child{margin-right: 0;}
.sect05 .cont_grad .cont_btn a{width: 434px;height: 81px;border-radius: 65px;font-size: 28px;align-items: center;justify-content: center;}
.sect05 .cont_grad .cont_btn .btn_prev{background: #FFFFFF;color: #000000;}
.sect05 .cont_grad .cont_btn .btn_print{background: #0080DD;color: #FFFFFF;}
