@import url("../../common/web/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {font-family: 'Noto Sans KR',sans-serif;outline: none;box-sizing: border-box;color: #000000;letter-spacing: -0.04em;}

body > div{overflow: hidden;}
body > div[class*="evt_"] *{line-height: 1.3em;}
.inner{width: 1200px; margin: 0 auto; text-align: center;position: relative;}

* ul{overflow: hidden;}
* ul:after{content: "";display: block;clear: both;}

/* 공통 타이틀 */
h4.cont_tit{font-weight: 900;font-size: 50px;display: grid;align-items: center;justify-content: center;align-content: center;}
h4.cont_tit span{font-weight: 400;font-size: 22px;color: #E352FF;}

/* sect_top */
.sect_top{padding: 19px 0;background: #000000;}
.sect_top p{font-weight: 500;font-size: 18px;color: #FFFFFF;}

/* sect01 */
.sect01{height: 700px;padding: 90px 0 0;background: url(./img/sect01_bg.png) no-repeat center 0, linear-gradient(159.89deg, #000000 8.64%, rgba(0, 0, 0, 0.59) 49.89%, rgba(0, 0, 0, 0) 90.29%), linear-gradient(265.99deg, #FD478D 10.8%, #BC24AE 32.05%, #6721C0 54.08%, #4614B4 84.99%);background-size: cover;}

.sect01 .txt_tit{font-weight: 900;font-size: 110px;color: #FFFFFF;line-height: 1.2em;display: grid;align-items: center;justify-content: center;align-content: center;}
.sect01 .txt_tit small{margin-bottom: 9px;font-weight: 700;font-size: 24px;color: #E352FF;}
.sect01 .txt_tit span{margin-top: 20px;font-weight: 300;font-size: 20px;color: #FFFFFF;line-height: 1.5em;}

.sect01 .cont_dday{width: 82px;height: 82px;background: url(./img/sect01_dday.png) no-repeat center 0;position: absolute;top: 0;left: 50%;transform: translate(300%, 75%);display: flex;align-items: center;justify-content: center;align-content: center;}
.sect01 .cont_dday strong{font-weight: 900;font-size: 24px;color: #FFFFFF;}

.sect01 .txt_info{background: #FFFFFF;margin: 27px auto 50px;width: max-content;padding: 10px 20px;font-size: 16px;}
.sect01 .txt_info b{color: #E352FF;}

.sect01 .cont_benefit{width: 829px;height: 194px;background: linear-gradient(180deg, #1E1E1E 0%, #1A1A1A 100%);box-shadow: 0 16px 16px rgba(0, 0, 0, 0.12);border-radius: 20px;position: absolute;bottom: auto;left: 50%;transform: translate(-50%);}
.sect01 .cont_benefit ul li{float: left;width: 225px;text-align: left;margin: 50px auto auto 50px;position: relative;}
.sect01 .cont_benefit ul li:before{content: "";display: block;width: 1px;height: 133px;background: #363636;position: absolute; top: -15px;left: -50px;opacity: .9;}
.sect01 .cont_benefit ul li:first-child:before{display: none;}
.sect01 .cont_benefit ul li sup{font-weight: 700;font-size: 17px;color: #E352FF;}
.sect01 .cont_benefit ul li p{font-weight: 700;font-size: 24px;color: #FFFFFF;margin-top: 11px;}

/* sect02 */
.sect02{padding: 175px 0 100px;background: #F5F5F5;}

.sect02 .inner > div[class*="cont_"]{margin-top: 27px;}

.sect02 .cont_ot{height: 264px;padding: 62px 47px 32px 282px;display: flex;align-content: center;flex-wrap: nowrap;justify-content: flex-start;align-items: center;}
.sect02 .cont_ot a{float: left;}
.sect02 .cont_ot h5{font-weight: 900;font-size: 32px;display: grid;align-items: center;justify-content: center;align-content: center;margin-left: 40px;text-align: left;}
.sect02 .cont_ot h5 span{font-size: 28px;color: #E352FF;}
.sect02 .cont_ot h5 em{font-weight: 500;font-size: 17px;line-height: 1.5em;color: #595959;margin-top: 11px;}

.sect02 .cont_cur{padding: 80px 85px;background: #FFFFFF;border: 1px solid #DBD7D1;}

.sect02 .cont_cur ul{display: flex;align-items: center;justify-content: center;flex-wrap: nowrap;align-content: center;}
.sect02 .cont_cur li{float: left;margin-left: 34px;}
.sect02 .cont_cur li:first-child{margin-left: 0;}

.sect02 .cont_cur table{width: 100%;margin: 50px auto 25px;border-spacing: 0;}
.sect02 .cont_cur table tr{height: 77px;}
.sect02 .cont_cur th{background: #F4F4F4;border-right: 1px solid #E7E7E7;}
.sect02 .cont_cur table tr td:first-of-type{border-right: 1px solid #E7E7E7;}
.sect02 .cont_cur table thead tr > *{border-top: 1px solid #000000;border-bottom: 1px solid #000000;}
.sect02 .cont_cur table tbody tr > *{border-bottom: 1px solid #E7E7E7;line-height: 1.6em;}

.sect02 .txt_note{font-size: 12px;line-height: 1.5em;color: #545454;}

.sect02 .cont_jjh .cont_ot{background: url(./img/jjh_bg.png) no-repeat 90px 0;}
.sect02 .cont_jjh .cont_cur > div{display: flex;align-items: center;justify-content: center;align-content: center;}
.sect02 .cont_jjh .cont_cur > div+div{margin: 15px auto 25px;}
.sect02 .cont_jjh .cont_cur .cont_1st{margin-left: 30px;height: 285px;}
.sect02 .cont_jjh .cont_cur .txt_depth{background: #DDDDDD;width: 69px;height: 34px;margin-bottom: 9px;display: flex;align-items: center;justify-content: flex-start;flex-wrap: nowrap;align-content: center;padding-left: 20px;position: relative;}
.sect02 .cont_jjh .cont_cur .txt_depth:before {content: "";position: absolute;right: -17px;bottom: 0;width: 0;height: 0;border-left: 17px solid #DDDDDD;border-top: 17px solid transparent;border-bottom: 17px solid transparent;}
.sect02 .cont_jjh .cont_cur > div:first-child .cont_depth{margin-left: 30px;}
.sect02 .cont_jjh .cont_cur .cont_depth li{padding: 39px 40px;background: #FCFCFC;border: 1px solid #E9E9E9;width: 242px;height: 242px;float: left;margin-left: 20px;position: relative;}
.sect02 .cont_jjh .cont_cur .cont_depth li:after{content: "";width: 48px;height: 48px;background:url(./img/sect02_next.png) no-repeat center 0;position: absolute;right: -35px;top: 30%;transform: translateY(50%);z-index: 99;}
.sect02 .cont_jjh .cont_cur .cont_depth li:first-child{margin-left: 0;}
.sect02 .cont_jjh .cont_cur .cont_depth li:last-child:after{display: none;}
.sect02 .cont_jjh .cont_cur .cont_depth li p{font-size: 21px;margin: 17px auto 26px;display: grid;align-items: center;justify-content: center;}
.sect02 .cont_jjh .cont_cur .cont_depth li span{font-weight: 700;font-size: 18px;color: #4A4A4A;}

.sect02 .cont_kok .cont_ot{padding-right: 80px;background: url(./img/kok_bg.png) no-repeat 90px 0;}

.sect02 .cont_jad .cont_ot{background: url(./img/jad_bg.png) no-repeat 30px -30px;}

/* sect03 */
.sect03{padding: 100px 0;background: #F0F0FF;}
.sect03 .inner{width: 950px;}

.sect03 .cont_live{padding: 40px 0;background: #f7f7f7;margin-top: 40px;}
.sect03 .cont_live .cont_onair{margin: auto 50px;display: flex;justify-content: space-between;align-items: center;align-content: center;flex-wrap: nowrap;}

.sect03 .cont_live .cont_onair .cont_timer{display: inline-flex;align-items: center;justify-content: center;flex-wrap: nowrap;align-content: center;}
.sect03 .cont_live .cont_onair .cont_timer span{background: #FFFFFF;padding: 0 10px;border-radius: 5px;font-size: 40px;font-weight: 700;margin-left: 5px;}
.sect03 .cont_live .cont_onair .cont_timer em{margin: auto 5px auto 10px;font-size: 24px;color: #656565;}
.sect03 .cont_live .cont_onair .cont_timer strong{margin-left: 10px;font-size: 24px;color: #656565;}
