@import url("../../common/web/reset.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{font-family: 'Noto Sans KR',sans-serif;outline: none;box-sizing: border-box;color: #000000;letter-spacing: -0.04em;}

body > div[class*="evt_"]{overflow: hidden;}
.inner{width: 1200px; margin: 0 auto; text-align: center;position: relative;}

* ul{overflow: hidden;}
* ul:after{content: "";display: block;clear: both;}

.sect00{position: fixed;top: 73px;right: 12px;z-index: 999;}
.sect00 .cont_ban{width: 120px;height: 160px;background: #FFFFFF;box-shadow: 7px 6px 13px rgba(0, 0, 0, 0.15);border-radius: 12px;padding: 22px 23px 21px 15px;}
.sect00 .cont_ban strong.txt_tit{font-size: 14px;line-height: 1.4em;color: #FF007A;}
.sect00 .cont_ban p{margin: 5px 0 15px;font-size: 14px;line-height: 1.4em;color: #000000;}
.sect00 .cont_ban a{font-size: 12px;line-height: 1.4em;text-decoration: underline;color: #9E9E9E;}

.sect01{padding: 70px 0 24px;background: #CFEEFF url(./img/sect01_bg.png) no-repeat center 0;height: 792px;position: relative;}
.sect01 ul.cont_index li{width: 400px;float: left;}
.sect01 ul.cont_index li *{text-align: center;color: #338EC0;font-size: 19px;line-height: 1.3em;}
.sect01 ul.cont_index li sub{font-size: 10px;}
.sect01 h3{margin: 33px 0 0 15px;}
.sect01 .txt_note{font-size: 12px;line-height: 18px;color: #7A93A2;position: absolute;left: 193px;bottom: 24px;}

.sect02{padding: 100px 0;background: #0E1A21;}
.sect02 h4{color: #FFFFFF;font-weight: 900;font-size: 40px;line-height: 59px;margin-bottom: 40px;}
.sect02 h4 span{color: #FFFFFF;font-weight: 400;font-size: 28px;line-height: 41px;display: block;}
.sect02 ul li{width: 282px;height: 262px;float: left;background: #FFFFFF;border-radius: 12px;margin-left: 24px;}
.sect02 ul li:first-child{margin-left: 0;}
.sect02 ul li div{margin: 38px auto 36px;}
.sect02 ul li div *:not(i){display: block;color: #000000;}
.sect02 ul li div img{margin: 0 auto;}
.sect02 ul li div b{margin: 0 0 14px;font-size: 24px;line-height: 36px;}
.sect02 ul li div p{font-size: 18px;line-height: 1.4em;}

.sect03{padding: 100px 0;background: #F3F3F3;}
.sect03 h4{color: #000000;font-weight: 900;font-size: 40px;line-height: 55px;}
.sect03 h4 span{font-weight: 400;font-size: 28px;line-height: 41px;}
.sect03 .txt_note{font-size: 12px;line-height: 18px;color: #545454;}

/* sect03 탭 메뉴 영역 */
.sect03 .tab_menu{margin-top: 40px;overflow: unset;}
.sect03 .tab_menu li{float: left;width: 300px;height: 90px;background: #E2E2E2;display: flex;align-items: center;align-content: center;justify-content: center;border-right: 1px solid #C6C6C6;box-shadow: none;}
.sect03 .tab_menu li:nth-last-child(1){border-right: 0;}
.sect03 .tab_menu li.active{background: #000000;box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);}
.sect03 .tab_menu li a{width: 100%;height: 100%;font-size: 22px;font-weight: 900;color: #C6C6C6;line-height: 1.4em;padding: 13px 0;}
.sect03 .tab_menu li.active a{color: #A6DCFF;}
.sect03 .tab_menu li span{font-size: 18px;font-weight: 700;color: #C6C6C6;}
.sect03 .tab_menu li.active span{color: #626262;}

/* sect03 탭 컨텐츠 영역 */
.sect03 .tab_cont{margin-top: 60px;}
.sect03 .tab_cont h5{font-size: 28px;line-height: 1.4em;}
.sect03 .tab_cont h5 strong{font-size: 32px;}
.sect03 .tab_cont > li{display: none;}
.sect03 .tab_cont > li.active{display: block;}

/* sect03 > cont_tab1 */
.sect03 .tab_cont > li .cont_tab1{margin-top: 40px;}
.sect03 .tab_cont > li .cont_tab1 li{float: left;width: 384px;height: 316px;margin-left: 24px;background: #FFFFFF;border: 1px solid #D5D5D5;border-radius: 9px;overflow: hidden;position: relative;}
.sect03 .tab_cont > li .cont_tab1 li:first-child{margin-left: 0;}

.sect03 .cont_tab1 li > div > *{display: flex;align-items: center;justify-content: center;flex-wrap: nowrap;}
.sect03 .cont_tab1 li > div > *:not(div){position: absolute;left: 37px;}
.sect03 .cont_tab1 li .cont_tit{background: #EFF7FF url(./img/sect03_tab1_tit1.png) no-repeat center 0;height: 89px;}
.sect03 .cont_tab1 li:nth-child(2) .cont_tit{background: #EFF7FF url(./img/sect03_tab1_tit2.png) no-repeat center 0;}
.sect03 .cont_tab1 li:nth-child(3) .cont_tit{background: #EFF7FF url(./img/sect03_tab1_tit3.png) no-repeat center 0;}
.sect03 .cont_tab1 li .cont_tit strong{font-size: 20px;line-height: 1.4em;color: #2896FF;margin-left: 65px;}
.sect03 .cont_tab1 div:not(.cont_tit) p{margin-top: 30px;text-align: left;font-size: 18px;line-height: 1.4em;display: block;color: #A2A2A2;}
.sect03 .cont_tab1 div:not(.cont_tit) small{bottom: 30px;font-weight: 700;font-size: 16px;line-height: 1.4em;color: #A2A2A2;}

/* sect03 > cont_tab2 */
.sect03 .cont_tab2{margin: 40px 0 20px;}
.sect03 .cont_tab2 li{width: 588px;height: auto;margin-left: 24px;position: relative;float: left;}
.sect03 .cont_tab2 li:first-child{margin-left: 0;}
.sect03 .cont_tab2 .txt_play{position: absolute;top: 56px;left: 58px;font-weight: 900;font-size: 18px;line-height: 1.4em;color: #FFFFFF;text-align: left;}
.sect03 .cont_tab2 .txt_play strong{color: #A6DCFF;}
.sect03 .cont_tab2 .txt_play span{color: #838383;font-weight: normal;font-size: 16px;}
.sect03 .cont_tab2 .icon_play{position: absolute;bottom: 100px;left: 58px;color: #79C8FF;font-size: 60px;}

/* sect03 > cont_tab3 */
.sect03 .tab_cont > li:nth-child(3) h5{margin-bottom: 40px;}
.sect03 .txt_tab3{font-size: 24px;line-height: 1.4em;}

.sect03 ul[class*="cont_"]{margin-top: 30px;}
.sect03 .cont_cur > li{width: 220px;height: 89px;float: left;background: #FFFFFF;border: 1px solid #E7E7E7;border-radius: 9px;position: relative;margin-left: 24px;display: flex;align-items: center;justify-content: center;flex-wrap: nowrap;align-content: center;font-weight: 700;line-height: 1.4em;}
.sect03 .cont_cur > li:first-child{margin-left: 0;}
.sect03 .cont_cur > li:not(:first-child):before{content: "";position: absolute;top: 35px;left: -20px;border-left: 16px solid #D7D7D7;border-top: 10px solid transparent;border-bottom: 10px solid transparent;}

.sect03 .cont_rev{background: #EFF7FF;border: 1px solid #2896FF;border-radius: 9px;margin: 30px 0 50px;}
.sect03 .cont_rev section{padding: 30px 0;-webkit-box-shadow: 0 25px 15px -15px rgb(0 0 0 / 65%);-moz-box-shadow: 0 25px 15px -15px rgb(0 0 0 / 65%);box-shadow: 0 25px 15px -15px rgb(0 0 0 / 65%);}
.sect03 .cont_rev p{font-weight: 700;font-size: 20px;line-height: 1.4em;color: #2896FF;margin-bottom: 5px;}
.sect03 .cont_rev span{font-size: 14px;line-height: 1.4em;color: #989898;}

.sect03 .btn_lec{width: 482px;height: 80px;background: #000000;color: #FFFFFF;padding: 24px 135px;display: block;font-weight: 700;font-size: 22px;line-height: 33px;margin: 0 auto 70px;text-align: center;border-radius: 100px;}

.sect03 .cont_ser li{width: 588px;height: 314px;margin-left: 24px;float: left;}
.sect03 .cont_ser li:first-child{margin-left: 0;}

/* sect03 > cont_tab4 */
.sect03 .cont_tab4{margin-top: 40px;}
.sect03 .cont_tab4 > li{width: 384px;height: 479px;margin-left: 24px;float: left;border: 1px solid #D5D5D5;border-radius: 9px;position: relative;}
.sect03 .cont_tab4 > li:first-child{margin-left: 0;}
.sect03 .cont_tab4 > li > div{margin: 44px auto 44px 37px;text-align: left;}
.sect03 .cont_tab4 > li > div > strong{font-size: 20px;line-height: 1.4em;color: #2896FF;margin-bottom: 18px;}
.sect03 .cont_tab4 > li > div > p{margin: 18px auto 27px;font-size: 18px;line-height: 1.5em;color: #A2A2A2;}
.sect03 .cont_tab4 > li > div > p:not(:first-of-type){margin-top: 0;}
.sect03 .cont_tab4 > li > div > small{position: absolute;bottom: 44px;font-weight: 700;font-size: 16px;line-height: 1.4em;color: #A2A2A2;}

.sect04{padding: 100px 0;background: #DFF3FF;}
.sect04 .txt_soon{margin-top: 5px;font-size: 20px;line-height: 1.4em;}
.sect04 h4{margin: 17px 0 7px;font-size: 40px;line-height: 1.3em;}
.sect04 h4 p{font-weight: 400;}
.sect04 span{font-size: 12px;line-height: 1em;color: #545454;}
.sect04 .cont_play{margin-top: 40px;position: relative;}
.sect04 .cont_play .btn_play{width: 1200px;height: 645px;}
.sect04 .cont_play .txt_play{position: absolute;top: 65px;left: 70px;font-weight: 900;font-size: 40px;line-height: 1.4em;color: #FFFFFF;text-align: left;}
.sect04 .cont_play .icon_play{position: absolute;top: 273px;left: 550px;color: #656565;font-size: 106px;}

.sect05{padding: 100px 0;background: url(./img/sect05_bg.png) no-repeat center 0, linear-gradient(180deg, #7B98FF 0%, #3D4EEC 100%);}
.sect05 h4{margin: 10px 0 20px;color: #FFFFFF;font-size: 40px;line-height: 1.3em;}
.sect05 h4 span{color: #FFFFFF;font-weight: 400;display: block;}
.sect05 .txt_evt{font-weight: 700;font-size: 22px;line-height: 1.3em;color: #FFFFFF;}
.sect05 .txt_evt span{font-weight: 400;font-size: 12px;color: #212E6D;display: block;}
.sect05 .cont_gift{text-align: left;margin: -20px 130px 0;position: relative;}
.sect05 .cont_gift .cont_lec{color: #FFFFFF;position: absolute;top: 100px;left: 205px;}
.sect05 .cont_gift .cont_lec *{color: #FFFFFF;font-size: 16px;line-height: 1.1em;}
.sect05 .cont_gift .cont_lec strong{font-size: 24px;display: block;margin-top: 10px;}
.sect05 .cont_gift .btn_view{border: 1px solid #FFFFFF;border-radius: 3px;background: rgba(255, 255, 255, 0.2);padding: 5px 19px;display: block;margin-top: 15px;width: 150px;}
.sect05 .cont_gift .btn_view p{color: #FFFFFF;font-size: 14px !important;}
.sect05 .cont_gift .txt_gift{font-size: 12px;line-height: 1.1em;color: #1C2657;text-align: center;display: block;}
.sect05 .cont_input{margin: 50px 0 20px;text-align: left;display: flex;align-items: center;flex-wrap: nowrap;}
.sect05 .cont_input ul li{float: left;position: relative;}
.sect05 .cont_input ul li:not(:first-child):before{content:''; display: block; width:1px; height:40px; background:#212121; position:absolute; top:50%; left:0; margin-top:-20px;}
.sect05 .cont_input ul li > input[type=text]{height: 72px;border: 0;padding: 0 26px;font-size: 20px;line-height: 1em;}
.sect05 .cont_input ul li > input[type=text]::placeholder{color: #88888880;}
.sect05 .cont_input .txt_user{width: 182px;}
.sect05 .cont_input .txt_comm{width: 811px;}
.sect05 .cont_input .btn_event{width: 207px;height: 72px;display: flex;align-items: center;justify-content: center;font-weight: 900;font-size: 24px;line-height: 1.5em;color: #171717;background: #FFFFFF;}
.sect05 .cont_comm{padding: 282px 0;background: #FFFFFF;display: flex;align-items: center;justify-content: center;align-content: center;font-size: 20px;line-height: 1.5em;color: #88888880;}

.sect06{padding: 100px 0;background: linear-gradient(180deg, #FF76C0 0%, #FF5693 100%);}
.sect06 h4{margin: 10px 0 40px;color: #FFFFFF;font-size: 40px;line-height: 1.3em;}
.sect06 .cont_free{background: url(./img/sect06_img.png) no-repeat center 0;filter: drop-shadow(10px 21px 21px rgba(0, 0, 0, 0.15));height: 300px;padding: 72px 0;}
.sect06 .cont_free p{font-weight: 900;font-size: 38px;line-height: 1.3em;background: linear-gradient(101.79deg, #FF5997 12.48%, #F02170 98.86%);-webkit-background-clip: text;-webkit-text-fill-color: transparent;background-clip: text;text-fill-color: transparent;margin-bottom: 33px;}
.sect06 .cont_free a{width: 430px;height: 74px;background: linear-gradient(0deg, #000000, #000000), linear-gradient(91.46deg, #D5FF5C 5.9%, #00FF94 101.61%);border-radius: 50px;color: #FFFFFF;display: flex;justify-content: center;align-items: center;margin: 0 auto;}
